{% extends 'base_generic_section.html' %}
{% block content %}
{% load static %}

<div class="container-fluid"></div>
<section id="content" class="container" style="padding: 3px;">
    <br/><br/>
    <h1>DETTAGLIO PARTITA</h1>
    <br>
    <div class="dettaglio_partita">
        <div class="dettaglio_partita_giornata">
            {{ partita.giornata }}ª ∙ </span>{{ partita.data_partita }} ∙ ore {{ partita.ora_partita }}
        </div>
        <div class="dettaglio_partita_incontro">
            {{ partita.casa|capfirst }} <img src="{{ partita.casa.logo_squadra.url }}"> {{ partita.gol_casa }} ∙ {{ partita.gol_trasferta }} <img src="{{ partita.trasferta.logo_squadra.url }}"> {{ partita.trasferta|capfirst }}
        </div>
        <div class="dettaglio_partita_indirizzo">
            {{ partita.casa.indirizzo }} 
        </div>
        <div class="dettaglio_partita_mappa">
            <a href="{{ partita.casa.mappa }}" target="_blank">&#10077; visualizza la mappa &#10078;</a>
        </div>
    </div> 
    <br>   
    {% if user.is_authenticated %}
    <a href="{% url 'Under17:partita_update' partita.id %}"><button class="btn btn-primary">&#10002; Modifica</button></a>&nbsp;
    <a href="{% url 'Under17:partita_delete' partita.id %}"><button class="btn btn-danger">&#10008; Elimina</button></a>&nbsp;
    {% endif %}
    <a href="{% url 'Under17:partite_all' %}"><button class="btn btn-success">Torna al calendario</button></a>
<br/><br/>
</section>


{% endblock content %}